<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.picturebook">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Picturebook"
        tools:targetApi="31">
        <activity
            android:name=".PictureActivityLast"
            android:exported="false" />
        <activity
            android:name=".PictureActivity5"
            android:exported="false" />
        <activity
            android:name=".PictureActivity4"
            android:exported="false" />
        <activity
            android:name=".PictureActivity3"
            android:exported="false" />
        <activity
            android:name=".PictureActivity2"
            android:exported="false" />
        <activity
            android:name=".PicturefiveActivity"
            android:exported="false" />
        <activity
            android:name=".PicturefourActivity"
            android:exported="false" />
        <activity
            android:name=".PicturethreeActivity"
            android:exported="false" />
        <activity
            android:name=".PicturetwoActivity"
            android:exported="false" />
        <activity
            android:name=".PictureoneActivity"
            android:exported="false" />
        <activity
            android:name=".pictureone"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>